.heroimg{
    background-color: #aaa;
    border-radius: 12px;
    height: 55vh;
    width: 1192px;
}

.dashh1 {
    text-decoration: line-through;
    text-decoration-color: #aaa;
    text-decoration-thickness: 37px;

}

.dashbtn {
    text-decoration: line-through;
    text-decoration-color: #aaa;
    text-decoration-thickness: 22px;
    background-color: #aaa;
}

.hero>.container>svg {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

@media (max-width: 768px) {


    .heroimg{

        height: 45vh;

    }


}