.post-card {
    height: 473px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #E8E8EA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 5ms linear;
}

/* .post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.posts h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
}

.posts h3 a {
    color: var(--heading);
}

.posts span {
    font-size: 16px;
    color: var(--nametext);
}

.posts .post-author{
    display: flex;
    align-items: center;
}

.posts .namedate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.postimg {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.excerpt {
    color: var(--nametext);
    font-size: .9rem;
}