


/* latest post */


.latest-post h2{
    margin-bottom: 32px;
    font-size: 1.5rem;
    font-weight: 700;
}


.viewall{
    margin-top: 32px;
    margin-bottom: 80px;
}

.viewall a{
    text-decoration: none;
    color: var(--lighttext);
    font-size: 16px;
    font-weight: 500;
}

.posts .postimg {
    width: 100%;
}

.posts .btn {
    color: var(--primary);
    background-color: var(--lightbtn);
    margin-top: 24px;
    margin-bottom: 16px;
}

.posts .btn:hover {
    background-color: var(--primary);
    color: var(--white);
}

.post-card {
    height: 473px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #E8E8EA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
}

.posts h3 a {
    color: var(--heading);
}

.posts span {
    font-size: 16px;
    color: #97989F;
}

.posts .post-author{
    display: flex;
    align-items: center;
}

.posts .namedate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.postimg {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .hero-card {
        position: relative;
        max-width: 100%; /* Full width on smaller screens */
        margin-top: 10px;
        left: 0; /* Remove left alignment */
        bottom: 0; /* Adjust positioning */
        padding: 20px; /* Smaller padding */
    }

    .searchbar {
        margin: 0;
    }

    footer .row.bottom ul li a{
        padding: 0 6px;
    }

}