
/* footer */

footer {
    background-color:var(--footer);
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    padding-top: 64px;
}

footer .about-info{
    max-width: 289px;
}
footer .about-info h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 12px;
}

footer .about-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #696a75;
    margin-bottom: 24px;
}

footer .about-info b{
    font-size: 16px;
    font-weight: 600;
    color: var(--heading);
}

footer .about-info a {
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
}

footer h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
    margin-bottom: 8px;
}

footer .newsletter {
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

footer .newstitle {
    margin-bottom: 30px;
}

.newstitle h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}

.newstitle span {
    color: #696A75;
    font-size: 16px;
    line-height: 24px;
}

footer .mailinput {
    position: relative;
}

footer .newsletter input {
    width: 100%;
    color: #97989F;
    border: 1px solid #97989f2c;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    margin-bottom: 8px;
}

footer .mailinput svg {
    position:absolute;
    right: 5%;
    top: 30%;
    font-size: 20px;
    color: #97989F;
}

footer button.btn {
    width: 100%;
    padding: 12px 20px;
}

footer .row.bottom {
    margin-top: 64px;
    padding: 32px 0;
    border-top: 0.5px solid #DCDDDF;
} 

footer .row.bottom ul {
    display: flex;
    align-items: center;
}
footer .row.bottom ul li a{
    padding: 0 16px;
}

footer .row.bottom ul li:nth-child(2){
    border-right: 0.5px solid #DCDDDF;;
    border-left: 0.5px solid #DCDDDF;;
}

footer .row.bottom img{
    margin-right: 8px;
    width: 48px;
    height: 48px
}

footer .row.bottom span{
    color: var(--heading);
}

.gallery {
    margin-bottom: 50px;
}

.karosel img {
    padding: 10px;
    width: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    footer .newsletter {
        width: 70%;
    }
}