.cat-title {
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 16px 0;
}

.cat-title h2 {
    font-size: 30px;
}

.cat-title a {
    text-decoration: none;
    color: var(--dark-secondary);
    font-size: 16px;
}

.cat-home::after {
    content: "|";
    font-weight: 300;
    color: #E8E8EA;
    margin-left: 10px;
    margin-right: 5px;
}
.cat-hero {
    margin-bottom: 48px;
}

.cat-hero .container {
    height: 450px;
    border-radius: 12px;
    position: relative;
}

.heroImage {
    height: 450px;
    border-radius: 12px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.cat-hero .cat-card {
    color: var(--white);
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.cat-hero .cat-card h1 {
    color: var(--white);
    max-width: 720px;
    font-size: 36px;
}

.cat-card span {
    color: var(--lighttext);
}

.postSelect {
    width: fit-content;
    padding: .5rem;
    background-color: var(--lighttext);
    color: var(--white);
    border-radius: 6px;
    border: none;
    text-align: center;
}

.selector {
    background-color: inherit;
    color: white;
}