@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: #0433FB ;
    --text: #3B3C4A;
    --bg-dark: #242535;
    --dark-secondary: #52525B;
    --heading: #181A2A;
    --search: #f4f4f5;
    --white: #fff;
    --placeholder: #e8e8ea;
    --lightbtn: #f6f7ff;
    --footer: #f6f6f7;
    --lighttext: #696a75;
    --success: rgb(78, 192, 78);
    --nametext: #56565D;
}

.darkmode {
    --primary: #0433FB;
    --text: #babace;
    --bg-dark: #fff;
    --dark-secondary: #fff;
    --heading: #fff;
    --search: #52525B;
    --white: #242535;
    --placeholder: #e8e8ea;
    --lightbtn: #52525B;
    --footer: #181A2A ;
    --lighttext: #52525B;
    --nametext: #97989F
}

a {
    text-decoration: none;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    background-color: var(--white);
    background-image: url("/public/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4 {
    color: var(--heading);
}

.btn{
    background-color: var(--primary);
    border-radius: 6px;
    padding: 4px 10px;
    color: white;
    font-size:  0.875rem;
    line-height: 20px;
}

.active {
    background-color: var(--white) !important;
    color: var(--text) !important;
    border: 1px solid var(--bg-dark) !important;
}

.btn:disabled {
    background-color: var(--white) !important;
    color: var(--text) !important;
    border: 1px solid var(--bg-dark) !important;
}

.btn:hover{
    background-color:#0431fb75;
}

.btn-nav:hover{
    color: black !important;
}

.ellipsis {
    color: var(--text);
}
.container {
    max-width: 1216px;
}

.hamburger {
    display: none;
}

.fullH {
    min-height: 75vh!important;
}

.success:disabled {
    background-color: var(--success)!important;
}

.sent {
    color: var(--success)!important;
}
@media (max-width: 768px) {
    .hero-card {
        position: relative;
        max-width: 100%; /* Full width on smaller screens */
        margin-top: 10px;
        left: 0; /* Remove left alignment */
        bottom: 0; /* Adjust positioning */
        padding: 20px; /* Smaller padding */
    }

    .searchbar {
        margin: 0;
    }

    footer .row.bottom ul li a{
        padding: 0 6px;
    }

}


